<div id="palm-dialog-content" class="palm-dialog-content">
 <div id="generate-title" class="palm-dialog-title">
  Generate Password
 </div>
 <div class="palm-dialog-separator"></div>
 <div class="palm-group unlabeled">
  <div class="palm-list">
  <div class="palm-row first">
   <div class="label">Characters</div>
   <div x-mojo-element="RadioButton" id="characters"></div>
  </div>
  <div class="palm-row last multi-checkbox">
   <div class="label">Types</div>
  <table><tr>
  <td>
   <div id="lowcaseField" x-mojo-element="CheckBox"></div>
   <div class="label un-capitalize">a-z</div>
  </td>
  <td>
   <div id="capField" x-mojo-element="CheckBox"></div>
   <div class="label">A-Z</div>
  </td>
  <td>
   <div id="numField" x-mojo-element="CheckBox"></div>
   <div class="label">0-9</div>
  </td>
  <td>
   <div id="symField" x-mojo-element="CheckBox"></div>
   <div class="label">!%#</div>
  </td>
   </tr></table>
  </div>
 </div>
 </div>
 <div class="palm-dialog-buttons">
  <div x-mojo-element="Button" id="okButton"></div>
  <div x-mojo-element="Button" id="cancelButton"></div>
 </div>
</div>