<div id="main" class="palm-noheader">
</div>
<div class="palm-group unlabeled">
 <div class="palm-list">
  <div class="palm-row first">
   <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
    <div class="title">
    <div class="label">Title</div>
     <div id="titleField" x-mojo-element="TextField"></div>
    </div>
   </div>
  </div>
  <div class="palm-row" id="username-row">
   <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
    <div class="title">
    <div class="label">User</div>
     <div id="usernameField" x-mojo-element="TextField"></div>
    </div>
   </div>
  </div>
  <div class="palm-row" id="pass-row">
   <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
    <div class="title">
    <div class="label">Password</div>
     <div id="passField" x-mojo-element="TextField"></div>
    </div>
   </div>
  </div>
  <div class="palm-row" id="url-row">
   <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
    <div class="title">
    <div class="label">URL</div>
     <div id="urlField" x-mojo-element="TextField"></div>
    </div>
   </div>
  </div>
  <div class="palm-row" id="category-row">
   <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
    <div class="title">
     <div id="categoryField" x-mojo-element="ListSelector"></div>
    </div>
   </div>
  </div>
  <div class="palm-row last" id="dates-row">
   <div class="palm-text-wrapper">
    +&nbsp;<span id="created"></span>&nbsp;&nbsp;&nbsp;~&nbsp;<span id="changed"></span>&nbsp;&nbsp;&nbsp;<img src="images/viewed.png"/>&nbsp;<span id="viewed"></span>
   </div>
  </div>
 </div>
</div>

<div id="notes-div" class="palm-text-wrapper">
 <div class="palm-text">
  <div id="notesField" x-mojo-element="TextField"></div>
 </div>
</div>
