<div id="palm-dialog-content" class="palm-dialog-content">
 <div id="password-title" class="palm-dialog-title">
  Willkommen bei Keyring
 </div>
 <div class="palm-info-text">
  <b>Neues Master-Passwort erstellen</b><br />
  Mit diesem Passwort wird die Keyring Datenbank verschl&uuml;sselt.
  W&auml;hlen Sie ein sicheres Passwort, das Sie sich merken k&ouml;nnen. 
 </div>
 <div class="palm-dialog-separator"></div>
 <div class="textfield-group" x-mojo-focus-highlight="true">
  <div class="title">
   <div x-mojo-element="PasswordField" id="password"></div>
  </div>    
 </div>
 <div class="palm-dialog-separator"></div>
 <div class="textfield-group" x-mojo-focus-highlight="true">
  <div class="title">
   <div x-mojo-element="PasswordField" id="password2"></div>
  </div>    
 </div>
 <div class="keyring-error" id="errmsg"></div>
 <div class="palm-dialog-buttons">
  <div x-mojo-element="Button" id="okButton"></div>
 </div>
</div>