<div id="main" class="palm-hasheader">
 <div class="palm-header center" id="main-hdr">
  Keyring
 </div>
</div>

<div class="palm-group unlabeled">
 <div class="palm-list">
  <div class="palm-row single">
   <div class="palm-row-wrapper">
    <div id="loading-spinner" x-mojo-element="Spinner"></div>
    <div id="img-div" style="float:right;margin: 3% 2% 0 0;"></div>
    <div id="loading-mesg" class="title left">
     Initializing... (placeholder text)
    </div>
   </div>
  </div>
 </div>
</div>

<div style="text-align: center;">
 <img src="icon.png"/>
</div>
