<div id="palm-dialog-content" class="palm-dialog-content">
 <div id="password-title" class="palm-dialog-title">
  Welcome to Keyring
 </div>
 <div class="palm-info-text">
  <b>Create a new master password</b><br />
  This is the password that will be used to secure
  the Keyring database.  Choose something secure yet memorable. 
 </div>
 <div class="palm-dialog-separator"></div>
 <div class="textfield-group" x-mojo-focus-highlight="true">
  <div class="title">
   <div x-mojo-element="PasswordField" id="password"></div>
  </div>    
 </div>
 <div class="palm-dialog-separator"></div>
 <div class="textfield-group" x-mojo-focus-highlight="true">
  <div class="title">
   <div x-mojo-element="PasswordField" id="password2"></div>
  </div>    
 </div>
 <div class="keyring-error" id="errmsg"></div>
 <div class="palm-dialog-buttons">
  <div x-mojo-element="Button" id="okButton"></div>
 </div>
</div>