<div id="palm-dialog-content" class="palm-dialog-content">
 <div id="password-title" class="palm-dialog-title">
  Change Password
 </div>
 <div class="palm-dialog-separator"></div>
 <div class="textfield-group" x-mojo-focus-highlight="true">
  <div class="title">
   <div x-mojo-element="PasswordField" id="oldPassword"></div>
  </div>    
 </div>
 <div class="palm-dialog-separator"></div>
 <div class="textfield-group" x-mojo-focus-highlight="true">
  <div class="title">
   <div x-mojo-element="PasswordField" id="newPassword"></div>
  </div>    
 </div>
 <div class="palm-dialog-separator"></div>
 <div class="textfield-group" x-mojo-focus-highlight="true">
  <div class="title">
   <div x-mojo-element="PasswordField" id="newPassword2"></div>
  </div>    
 </div>
 <div class="keyring-error" id="errmsg"></div>
 <div class="palm-dialog-buttons">
  <div x-mojo-element="Button" id="okButton"></div>
  <div x-mojo-element="Button" id="cancelButton"></div>
 </div>
</div>