<div id="palm-dialog-content" class="palm-dialog-content">
 <div id="dialog-title" class="palm-dialog-title">
  Import data
 </div>
 <div class="palm-dialog-separator"></div>
 <div class="textfield-group" x-mojo-focus-highlight="true">
  <div class="title">
   <div x-mojo-element="TextField" id="data"></div>
  </div>
 </div>
 <div class="textfield-group" x-mojo-focus-highlight="true" id="password-group">
  <div class="title">
   <div x-mojo-element="PasswordField" id="password"></div>
  </div>
 </div>
 <div id="errmsg"></div>
 <div class="palm-dialog-buttons">
  <div x-mojo-element="Button" id="okButton"></div>
  <div x-mojo-element="Button" id="cancelButton"></div>
 </div>
</div>