<div class="palm-page-header">
 <div class="palm-page-header-wrapper">
  <div class="title left" id="main-hdr">
      Keyring Datenbank-Aktionen
  </div>
 </div>
</div>

<div class="palm-group">
 <div class="palm-group-title">Daten sichern</div>
 <div class="palm-list">
  <div class="palm-row first">
   <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
    <div id="destination" x-mojo-element="ListSelector"></div>
   </div>
  </div>
  <div class="palm-row last">
   <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
    <div x-mojo-element="Button" id="exportButton"></div>
   </div>
  </div>
 </div>
</div>

<div class="palm-group">
 <div class="palm-group-title">Wiederherstellen oder importieren</div>
 <div class="palm-list">
  <div class="palm-row first">
   <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
    <div id="source" x-mojo-element="ListSelector"></div>
   </div>
  </div>
  <div class="palm-row">
   <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
    <div id="resolution" x-mojo-element="ListSelector"></div>
   </div>
  </div>
  <div class="palm-row">
   <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
    <div class="label left">Einstell. wiederherst.</div>
    <div id="prefs" x-mojo-element="ToggleButton" class="right"></div>
   </div>
  </div>
  <div class="palm-row last">
   <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
    <div x-mojo-element="Button" id="importButton"></div>
   </div>
  </div>
 </div>
</div>

<div class="palm-group">
 <div class="palm-group-title">Passwort &auml;ndern</div>
 <div class="palm-list">
  <div class="palm-row single">
   <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
    <div x-mojo-element="Button" id="changePasswordButton"></div>
   </div>
  </div>
 </div>
</div>

<div class="palm-group">
 <div class="palm-group-title">Datenbank leeren</div>
 <div class="palm-list">
  <div class="palm-row single">
   <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
    <div x-mojo-element="Button" id="clearDatabaseButton"></div>
   </div>
  </div>
 </div>
</div>

<div class="scroll-fade-bottom" x-mojo-scroll-fade="bottom"></div>