<div class="palm-page-header">
 <div class="palm-page-header-wrapper">
  <div class="title left" id="main-hdr">
      Keyring Preferences
  </div>
 </div>
</div>
<div class="palm-group">
 <div class="palm-group-title">Timeout</div>
 <div class="palm-list">
  <div class="palm-row single">
   <div class="palm-row-wrapper">
    <div id="timeout" x-mojo-element="ListSelector"></div>
   </div>
  </div>
 </div>
</div>

<div class="palm-group">
 <div class="palm-group-title">Sort Keys By</div>
 <div class="palm-list">
  <div class="palm-row single">
   <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
    <div id="sortBy" x-mojo-element="ListSelector"></div>
   </div>
  </div>
 </div>
</div>

<div class="palm-group">
 <div class="palm-group-title">Password Generator Defaults</div>
  <div class="palm-list">
  <div class="palm-row first">
   <div class="label">Characters</div>
   <div x-mojo-element="RadioButton" id="characters"></div>
  </div>
  <div class="palm-row last multi-checkbox">
   <div class="label">Types</div>
  <table><tr>
  <td>
   <div id="lowcaseField" x-mojo-element="CheckBox"></div>
   <div class="label un-capitalize">a-z</div>
  </td>
  <td>
   <div id="capField" x-mojo-element="CheckBox"></div>
   <div class="label">A-Z</div>
  </td>
  <td>
   <div id="numField" x-mojo-element="CheckBox"></div>
   <div class="label">0-9</div>
  </td>
  <td>
   <div id="symField" x-mojo-element="CheckBox"></div>
   <div class="label">!%#</div>
  </td>
   </tr></table>
  </div>
 </div>
</div>
