<div id="palm-dialog-content" class="palm-dialog-content">
 <div id="password-title" class="palm-dialog-title">
  Bienvenido a Keyring
 </div>
 <div class="palm-info-text">
  <b>Crear nueva contrase&ntilde;a maestra</b><br />
  Esta es la contrase&ntilde;a que usar&aacute; para asegurar
  la base de datos de Keyring. Escoja algo seguro pero recordable.
 </div>
 <div class="palm-dialog-separator"></div>
 <div class="textfield-group" x-mojo-focus-highlight="true">
  <div class="title">
   <div x-mojo-element="PasswordField" id="password"></div>
  </div>    
 </div>
 <div class="palm-dialog-separator"></div>
 <div class="textfield-group" x-mojo-focus-highlight="true">
  <div class="title">
   <div x-mojo-element="PasswordField" id="password2"></div>
  </div>    
 </div>
 <div class="keyring-error" id="errmsg"></div>
 <div class="palm-dialog-buttons">
  <div x-mojo-element="Button" id="okButton"></div>
 </div>
</div>