<div id="palm-dialog-content" class="palm-dialog-content">
 <div id="dialog-title" class="palm-dialog-title">
  New Category (placeholder text)
 </div>
 <div class="palm-dialog-separator"></div>
 <div class="textfield-group" x-mojo-focus-highlight="true">
  <div class="title">
   <div x-mojo-element="TextField" id="name"></div>
  </div>    
 </div>
 <div class="keyring-error" id="errmsg"></div>
 <div class="palm-dialog-buttons">
  <div x-mojo-element="Button" id="saveButton"></div>
  <div x-mojo-element="Button" id="cancelButton"></div>
 </div>
</div>